---
layout: main
title: Pricing
---
<link href="currency-flags.css" rel="stylesheet" type="text/css">

<div style="padding-bottom: 40px; text-align: center; font-weight: bold">
  <div style="font-size: 24px; color: #333; line-height: 200%">Pricing in your currency</div>
  <div style="font-size: 16px; color: #888; line-height: 200%; margin: 0px 50px">No matter where you are, your price will be fixed</div>
</div>

<table style="margin: 0 auto">
{% assign mainCurrencies = "usd,gbp,eur" | split:',' %}
{% for i in (1..2) %}

{% if i == 2 %}
<tr><td colspan="2">&nbsp;</td></tr>
{% endif %}

{% for price in site.pricing %}
{% assign currency = price.id | split:'/' | last %}
{% if i == 1 %}{% if mainCurrencies contains currency %}{% else %}{% continue %}{% endif %}{% endif %}
{% if i == 2 %}{% if mainCurrencies contains currency %}{% continue %}{% else %}{% endif %}{% endif %}
<tr>
<td style="padding: 5px"><div class="currency-flag currency-flag-lg currency-flag-{{ currency }}"></div></td>
<td style="padding: 5px{% if i == 1 %}; font-weight: bold{% endif %}"><a href="{{ price.url }}">{{ currency | upcase }} - {{ price.title }}</a></td>
</tr>
{% endfor %}
{% endfor %}
</table>