---
layout: main
title: Pricing
---
<h4 class="text-center font-weight-bold">We do not charge by the user or by the business</h4>
<p class="text-center lead">We offer predictable & consistent pricing in your currency - exactly how it should be.</p>
<div class="text-center mb-4"><select id="currency" class="custom-select" onchange="document.getElementById('price').innerHTML = this.value">{% for currency in site.data.cloud_pricing %}<option value="{{ currency.Price }} {{ currency.Code }}"{% if currency.Code == "USD" %} selected{% endif %}>{{ currency.Code }} - {{ currency.Name }}</option>{% endfor %}</select></div>
<hr />

<div id="priceContainer" class="row">
  <div class="col-md pr-4">
    <div class="bg-light p-4" style="webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%); clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%)">
      <h5 class="font-weight-bold mb-3">For <span id="price" class="bg-dark text-white py-1 px-2">...</span> per month, you get:</h5>
      <table>
        <tr><td class="text-center p-2"><i class="fal fa-cubes"></i></td><td>Full-Featured Accounting</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-building"></i></td><td>Unlimited Businesses</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-users"></i></td><td>Unlimitted Users</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-download"></i></td><td>Automatic Backups</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-calendar-alt"></i></td><td>Automatic Updates</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-wifi"></i></td><td>Anywhere Access</td></tr>
      </table>
    </div>
  </div>
  <div class="col-md my-auto">
    <form action="https://cloud.manager.io/submit" method="post" class="my-2">
      <div class="form-group"><input type="text" class="form-control form-control-lg" name="EmailAddress" placeholder="Enter your email"></div>
      <input type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold" value="Start a free 7 day trial">
    </form>
  </div>
</div>

<hr />

<h4 class="text-center font-weight-bold mt-4 pt-4">Cloud Pricing FAQ</h4>
<p class="text-center lead">Some of the more common questions we get.</p>

<div class="row mb-4">
  <div class="col-md">
    <h5 class="font-weight-bold pt-4">Can we try Manager Cloud for free?</h5>
    <p class="lead mb-4">Of course! Your first 7 days are on us. Sign up for a new Manager Cloud site to get started. If you love it (and we think you will), you can continue using Manager Cloud simply by providing us with your payment details.</p>
  
    <h5 class="font-weight-bold pt-4">Do we pay extra for more users or businesses?</h5>
    <p class="lead mb-4">No. We don't charge you based on how many users or businesses you add. 5 or 50, the price is the same. If you have many businesses, you can also specify which businesses are visible to which users. Great for accountants and bookkeepers with many clients.</p>
  </div>
  <div class="col-md">
    <h5 class="font-weight-bold pt-4">What payment options do you accept?</h5>
    <p class="lead mb-4">We accept MasterCard, Visa, and American Express. For customers purchasing an annual subscription, we also accept bank transfers or PayPal.</p>

    <h5 class="font-weight-bold pt-4">Can we cancel at any time?</h5>
    <p class="lead mb-4">There's no minimum contract for Manager — cancel at any time without penalty or hassle. And unlike most online accounting software, you can download all your data and continue using desktop edition for free.</p>
  </div>
</div>

<script>
  document.getElementById('price').innerHTML =  document.getElementById("currency").options[document.getElementById("currency").selectedIndex].value;
</script>