---
title: Releases
layout: main
---
<h4 class="text-center font-weight-bold">Always up to date</h4>
<p class="text-center lead mb-4">Manager is being continuously updated to keep getting better than ever.</p>

<table class="table table-striped mb-4">

{% assign section = "" %}
{% assign releases = site.data.releases | reverse %}
{% for release in releases %}

{% if release.message == "WebTranslateIt" %}{% continue %}{% endif %}
{% if release.message == "no message" %}{% continue %}{% endif %}

{% assign section2 = release.date | date:"%B %Y" %}
{% if section != section2 %}
<tr class="bg-dark text-white"><td colspan="3"><h5 class="font-weight-bold mb-0">{{ section2 }}</h5></td></tr>
{% assign section = section2 %}
{% endif %}

<tr>
<td class="font-weight-bold text-right text-nowrap small">{{ release.date | date_to_string }}</td>

{% assign words = release.message | split: ' ' %}
{% assign message = " " %}
{% for word in words %}
{% assign letter = word | slice: 0 %}
{% if letter == "#" %}
{% assign topic = word | replace: '#','' %}
{% assign message = message | append: " " | append: '(<a href="https://forum.manager.io/t/' | append: topic | append: '">see topic</a>)' %}
{% else %}
{% assign message = message | append: " " | append: word %}
{% endif %}
{% endfor %}

<td class="w-100 small">{{ message }}</td>
<td class="text-muted text-right small">{{ release.version }}</td>
</tr>
{% endfor %}
</table>