</div></div>

    <div style="border-top: 1px solid #000000;">
      <div style="background-color: #222222; border-top: 1px solid #555555; color: #fff; padding: 20px 0px; padding-bottom: 40px">
        <div class="container">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="width: 33%; vertical-align: top">
                  <h2 style="font-size: 18px; font-weight: normal; margin-bottom: 10px">Products</h2>
                  <div style="line-height: 250%">
                    <i class="fa fa-desktop" style="color: #999; margin-right: 7px"></i><a href="/" style="color: #999">Desktop Edition</a><br>
                    <i class="fa fa-cloud" style="color: #999; margin-right: 7px"></i><a href="/cloud/" style="color: #999">Cloud Edition</a><br>
                    <i class="fa fa-server" style="color: #999; margin-right: 7px"></i><a href="/server/" style="color: #999">Server Edition</a><br>
                    <i class="fa fa-paint-brush" style="color: #999; margin-right: 7px"></i><a href="/themes/" style="color: #999">Themes</a>
                  </div>
                </td>
                <td style="width: 34%; vertical-align: top">
                  <h2 style="font-size: 18px; font-weight: normal; margin-bottom: 10px">Support</h2>
                  <div style="line-height: 250%">
                    <i class="fa fa-book" style="color: #999; margin-right: 7px"></i><a href="/guides/" style="color: #999">Guides</a><br>
                    <i class="fa fa-comment" style="color: #999; margin-right: 7px"></i><a href="https://forum.manager.io" style="color: #999">Forum</a>
                  </div>
                </td>
                <td style="width: 33%; vertical-align: top">
                  <h2 style="font-size: 18px; font-weight: normal; margin-bottom: 10px; margin-top: 20px">More …</h2>
                  <div style="line-height: 250%">
                    <a href="https://forum.manager.io/c/releases?order=created" style="color: #999">Releases</a><br>
                    <a href="https://forum.manager.io/t/roadmap/5913" style="color: #999">Roadmap</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="border-top: 1px solid #000000">
        <div style="background-color: #111111; border-top: 1px solid #222222; padding: 20px 0px">
          <div class="container">
            <span style="color: #333">&copy; 2017 - Based in Sydney, Australia but providing goodness globally</span>
          </div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(66498219);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66498219ns.gif" /></p></noscript>

  </body>
</html>