</div></div>

    <div style="border-top: 1px solid #000000;">
      <div style="background-color: #222222; border-top: 1px solid #555555; color: #fff; padding: 20px 0px; padding-bottom: 40px">
        <div class="container">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td style="width: 33%; vertical-align: top">
                  <h2 style="font-size: 18px; font-weight: normal; margin-bottom: 10px">Products</h2>
                  <div style="line-height: 250%">
                    <i class="fa fa-desktop" style="color: #999; margin-right: 7px"></i><a href="/" style="color: #999">Desktop Edition</a><br>
                    <i class="fa fa-cloud" style="color: #999; margin-right: 7px"></i><a href="/cloud/" style="color: #999">Cloud Edition</a><br>
                    <i class="fa fa-server" style="color: #999; margin-right: 7px"></i><a href="/server/" style="color: #999">Server Edition</a><br>
                    <i class="fa fa-paint-brush" style="color: #999; margin-right: 7px"></i><a href="/themes/" style="color: #999">Themes</a>
                  </div>
                </td>
                <td style="width: 34%; vertical-align: top">
                  <h2 style="font-size: 18px; font-weight: normal; margin-bottom: 10px">Support</h2>
                  <div style="line-height: 250%">
                    <i class="fa fa-book" style="color: #999; margin-right: 7px"></i><a href="/guides/" style="color: #999">Guides</a><br>
                    <i class="fa fa-comment" style="color: #999; margin-right: 7px"></i><a href="https://forum.manager.io" style="color: #999">Forum</a>
                  </div>
                </td>
                <td style="width: 33%; vertical-align: top">
                  <h2 style="font-size: 18px; font-weight: normal; margin-bottom: 10px; margin-top: 20px">Subscribe to Updates</h2>
                  <p style="color: #999">Subscribe to our newsletter and get exclusive product updates you won't find anywhere else straight to your inbox.</p>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://manager.us4.list-manage.com/subscribe/post?u=e72914b7ac83d338254af8c7f&amp;id=d7e06806bb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group form-group">
	<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e72914b7ac83d338254af8c7f_d7e06806bb" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary" style="font-weight: bold"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="border-top: 1px solid #000000">
        <div style="background-color: #111111; border-top: 1px solid #222222; padding: 20px 0px">
          <div class="container">
            <span style="color: #333">&copy; 2017 - Based in Sydney, Australia but providing goodness globally</span>
          </div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(66498219);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66498219ns.gif" /></p></noscript>

  </body>
</html>