---
layout: main
title: Pricing
---
<h4 class="text-center font-weight-bold">Pay once, use forever</h4>
<p class="text-center lead mb-4">Self-hosted accounting software without monthly fees.</p>

<div class="card-columns mb-4">
{% assign mainCurrencies = "usd,gbp,eur" | split:',' %}
{% for price in site.server_pricing %}
{% assign currency = price.id | split:'/' | last %}
{% if mainCurrencies contains currency %}{% else %}{% continue %}{% endif %}
<div class="card">
  <div class="list-group">
    <a href="{{ price.url }}" class="list-group-item list-group-item-action font-weight-bold">{{ currency | upcase }} - {{ price.title }}</a>
  </div>
</div>
{% endfor %}
</div>

<div class="card-columns mb-4">
{% for price in site.server_pricing %}
{% assign currency = price.id | split:'/' | last %}
<div class="card">
  <div class="list-group">
    <a href="{{ price.url }}" class="list-group-item list-group-item-action">{{ currency | upcase }} - {{ price.title }}</a>
  </div>
</div>
{% endfor %}
</div>