---
layout: main
title: Pricing
---
<h4 class="text-center font-weight-bold">Pay once, use forever</h4>
<p class="text-center lead">Self-hosted accounting software without monthly fees.</p>
<div class="text-center mb-4"><select id="currency" class="custom-select" onchange="document.getElementById('price').innerHTML = this.value">{% for currency in site.data.server_pricing %}<option data-price="{{ currency.StripePrice }}" data-currency="{{ currency.Code | downcase }}" value="{{ currency.Price }} {{ currency.Code }}"{% if currency.Code == "USD" %} selected{% endif %}>{{ currency.Code }} - {{ currency.Name }}</option>{% endfor %}</select></div>
<hr />

<div id="priceContainer" class="row">
  <div class="col-md pr-4">
    <div class="bg-light p-4" style="webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%); clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%)">
      <h5 class="font-weight-bold mb-3">For <span id="price" class="bg-dark text-white py-1 px-2">...</span> you get:</h5>
      <table>
        <tr><td class="text-center p-2"><i class="fal fa-infinity"></i></td><td>Perpetual License</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-calendar-alt"></i></td><td>Free Year of Upgrades</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-building"></i></td><td>Unlimited Businesses</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-users"></i></td><td>Unlimitted Users</td></tr>
        <tr><td class="text-center p-2"><i class="fal fa-server"></i></td><td>Complete Control of Your Environment</td></tr>
      </table>
    </div>
  </div>
  <div class="col-md pl-4 my-auto">
    <a href="/server/installation/" class="btn btn-success btn-block font-weight-bold btn-lg">Free Trial</a>
    <button id="customButton" class="btn btn-outline-secondary btn-block font-weight-bold btn-lg"><i id="spinner" class="fal fa-spinner fa-spin mr-2 d-none"></i>Buy Now</button>
  </div>
</div>

<hr />

<h4 class="text-center font-weight-bold mt-4 pt-4">Server Pricing FAQ</h4>
<p class="text-center lead">Some of the more common questions we get.</p>

<div class="row mb-4">
  <div class="col-md">
    <h5 class="font-weight-bold pt-4">Can I try Manager Server for free?</h5>
    <p class="lead mb-4">Of course! You can host a fully functional copy of Manager Server on your own hardware for evaluation purposes for free. Simply download Manager Server to get started.</p>
    <p class="lead mb-4">If you love it (and we think you will), you can continue using Manager Server by simply updating your existing instance with a purchased license key. Manager Server licenses can be purchased online.</p>
  
    <h5 class="font-weight-bold pt-4">Do we pay extra for more users or businesses?</h5>
    <p class="lead mb-4">No. We don't charge you based on how many users or businesses you add. 5 or 50, the price is the same. If you have many businesses, you can also specify which businesses are visible to which users. Great for accountants and bookkeepers with many clients.</p>
  </div>
  <div class="col-md">
    <h5 class="font-weight-bold pt-4">What payment options do you accept?</h5>
    <p class="lead mb-4">We accept MasterCard, Visa, and American Express. We also accept bank transfers or PayPal.</p>

    <h5 class="font-weight-bold pt-4">What is included with my license purchase?</h5>
    <p class="lead mb-4">We believe the Manager Server licensing scheme is simple, upfront and equitable.</p>
    <p class="lead mb-4">Our server licenses entitle you to perpetual use, and include 12 months maintenance (updates/support) starting from the date of purchase. Renewing maintenance is entirely optional.</p>
  </div>
</div>

<script>
  document.getElementById('price').innerHTML = document.getElementById("currency").options[document.getElementById("currency").selectedIndex].value;
</script>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var handler = StripeCheckout.configure({
  key: 'pk_live_YrLbNxRzg91UB3ADcLDc0uhi',
  image: 'https://s3.amazonaws.com/stripe-uploads/acct_102vRP2mUW00Xt3Umerchant-icon-939520-manager-256x256.png',
  locale: 'auto',
  allowRememberMe: false,
  token: function(token) {
    document.getElementById('customButton').disabled = true;
    document.getElementById('spinner').classList.remove('d-none');
    
    var selectedOption = document.getElementById("currency").options[document.getElementById("currency").selectedIndex];  
    
    var form = document.createElement('form');
    form.setAttribute('method', 'POST');
    form.setAttribute('action', 'https://cloud.manager.io/purchase?currency='+selectedOption.getAttribute('data-currency'));
    
    var field1 = document.createElement("input");
    field1.setAttribute("type", 'hidden');
    field1.setAttribute("name", 'stripeEmail');
    field1.setAttribute("value", token.email);
    form.appendChild(field1);
    
    var field2 = document.createElement("input");
    field2.setAttribute("type", 'hidden');
    field2.setAttribute("name", 'stripeToken');
    field2.setAttribute("value", token.id);
    form.appendChild(field2);
    
    document.body.appendChild(form);
    
    form.submit();
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {

  var selectedOption = document.getElementById("currency").options[document.getElementById("currency").selectedIndex];  

  // Open Checkout with further options:
  handler.open({
    name: 'Manager Server Edition',
    currency: selectedOption.getAttribute('data-currency'),
    amount: parseInt(selectedOption.getAttribute('data-price'))
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>