---
layout: main
title: Translations
---
<div style="padding-bottom: 40px; text-align: center; font-weight: bold">
  <div style="font-size: 24px; color: #333; line-height: 200%">Use in any language</div>
  <div style="font-size: 16px; color: #888; line-height: 200%; margin: 0px 50px">Manager is being translated by volunteers from all over the world.</div>
</div>

<div class="thumbnail" style="margin-bottom: 0px; padding: 40px">
  <table style="width: 100%; border-collapse: separate; border-spacing: 10px">
    <tbody>
      {% for language in site.data.translations %}
      <tr>
        <td style="text-align: right; vertical-align: top; width: 1px"><span class="badge">{{ forloop.index0 | plus:1 }}</span></td>
        <td style="padding-right: 50px">
          <span style="font-weight: bold; font-size: 14px">{{ language.localname }}</span>&nbsp;&nbsp;
          <span style="color: #999">{{ language.englishname }}</span><br/>
          <span style="color: #666; font-size: 11px">{{ language.contributors }}</span>
        </td>
        <td style="width: 200px; vertical-align: top">
          <div class="progress" style="margin-bottom: 0px">
            <div class="progress-bar{% if language.percentage == "100" %} progress-bar-success{% endif %}" style="width: {{ language.percentage }}%"><span style="font-size: 11px; font-weight: bold">{{ language.percentage }}%</span></div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div style="text-align: center; padding-top: 20px; font-size: 11px; color: #666">As at {{ site.time | date: '%B %-d, %Y' }}</div>
<div style="text-align: center; padding-top: 20px">
  <a href="https://webtranslateit.com/en/projects/2694-Manager/invitation_request" class="btn btn-primary" style="font-weight: bold">Join Translation Team</a>
</div>