---
layout: main
title: Translations
---
<h4 class="text-center font-weight-bold">Use in any language</h4>
<p class="text-center lead mb-4">Manager is being translated by volunteers from all over the world.</p>

  <table class="table table-striped">
    <tbody>
      {% for language in site.data.translations %}
      <tr>
        <td class="text-right"><span class="badge badge-pill badge-dark">{{ forloop.index0 | plus:1 }}</span></td>
        <td class="pr-4">
          <h5 class="font-weight-bold">{{ language.localname }}<small class="text-muted ml-2">{{ language.englishname }}</small></h5>
          <div class="text-muted small">{{ language.contributors }}</div>
        </td>
        <td style="width: 200px">
          <div class="progress"><div class="progress-bar{% if language.percentage == "100" %} bg-success{% endif %}" style="width: {{ language.percentage }}%">{{ language.percentage }}%</div></div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="text-center text-muted small mb-2">As at {{ site.time | date: '%B %-d, %Y' }}</div>
<div class="text-center mb-4"><a href="https://webtranslateit.com/en/projects/2694-Manager/invitation_request" class="btn btn-primary font-weight-bold">Join Translation Team</a></div>