---
layout: theme
preview: https://assets.manager.io/themes/52144829/screenshot-small.png
screenshot: https://assets.manager.io/themes/52144829/screenshot-large.png
---
{% raw %}<table style="background-color: #FFF2CC">
    <thead>
        <tr>
            <td colspan="99">
                <div style="font-weight: bold; font-size: 32px; padding: 20px; text-align: center; margin-bottom: 20px; color: #FFC000">{{ title }}</div>
                
                <table style="margin-bottom: 20px"><tr>
                    <td style="padding-left: 30px">
                        <div><b>{{ recipient.name }}</b> {{ recipient.code }}</div>
                        <div>{{ recipient.address | newline_to_br }}</div>
                        <div>{{ recipient.identifier }}</div>
                    </td>
                    <td style="padding-right: 30px">
                        {% for field in fields %}
                        <div style="font-weight: bold">{{ field.label }}</div>
                        <div style="margin-bottom: 10px">{{ field.text }}</div>
                        {% endfor %}
                    </td>
                    {% if business.logo != null %}<td style="text-align: right; width: 300px"><img src="{{ business.logo }}" style="max-height: 150px; max-width: 300px" /></td>{% endif %}
                </tr></table>

                <div style="font-size: 14px; font-weight: bold; margin-bottom: 20px; padding: 0px 30px">{{ description }}</div>
            </td>
        </tr>
        <tr>
            {% for column in table.columns %}            
            <td style="font-weight: bold; color: #FFC000; background-color: #FFE599; border-bottom-width: 5px; border-color: #FFC000; padding: 10px; text-align: {{ column.align }}{% if forloop.first %}; padding-left: 30px{% endif %}{% if forloop.last %}; padding-right: 30px{% endif %}{% if column.nowrap %}; white-space: nowrap; width: 80px{% endif %}">{{ column.label }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
        <tr>
            {% for cell in row.cells %}
            <td style="padding: 10px; text-align: {{ table.columns[forloop.index0].align }}; border-color: #FFC000; border-bottom-width: 1px{% if forloop.first %}; padding-left: 30px{% endif %}{% if forloop.last %}; padding-right: 30px{% endif %}{% if table.columns[forloop.index0].nowrap %}; white-space: nowrap; width: 80px{% endif %}">{{ cell.text | newline_to_br }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% for total in table.totals %}
        <tr>
            <td colspan="{{ table.columns | size | minus:1 }}" style="padding: 10px; text-align: right{% if total.emphasis == true %}; font-weight: bold; font-size: 16px{% endif %}">{{ total.label }}</td>
            <td style="border-bottom-width: 1px; border-color: #FFC000; white-space: nowrap; padding: 10px; padding-left: 30px; text-align: right; padding-right: 30px{% if total.emphasis == true %}; font-weight: bold; background-color: #FFC000; color: #fff; font-size: 16px{% endif %}">{{ total.text }}</td>
        </tr>
        {% endfor %}

        {% for field in custom_fields %}
        <tr>
            <td colspan="99" style="padding-left: 30px; padding-right: 30px; padding-bottom: 20px">
                <div style="font-weight: bold">{{ field.label }}</div>
                <div>{{ field.text | newline_to_br }}</div>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="99"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></td>
        </tr>

    </tbody>
    <tfoot>
        <tr><td colspan="99">
            <div style="border-top-width: 3px; border-color: #FFC000; font-size: 11px; padding: 10px 20px; background-color: #FFE599; color: #FFC000">
                <div style="font-weight: bold">{{ business.name }}</div>
                <div>{{ business.address }}</div>
                <div>{{ business.identifier }}</div>
            </div>
        </td></tr>
    </tfoot>
</table>{% endraw %}
