---
layout: main
title: Guides
---
<style>
ul, ol { margin-bottom: 1.7em; }
ol > li > p, ol > li > p { margin-bottom: 0px; }
li { margin-bottom: 5px; }
i.fa-li { opacity: 0.5; margin-top: 3px }
p { line-height: 24px; }
span.label { font-weight: normal; margin-right: 3px; padding: 2px 6px }
</style>

<p>Guides that describe how to set up, configure, or use Manager.</p>

{% assign guides = site.guides | sort:"title" %}
{% assign visibleGuides = "|" %}

{% for category in site.data.categories %}
  {% assign categoryTags = category.tags | split: ' ' %}
  <div style="border-bottom: 1px solid #ccc; margin-bottom: 20px"><h2>{{ category.name }}</h2></div>
  <ul class="fa-ul" style="margin-bottom: 40px">
  {% for i in (1..2) %}
    {% for guide in guides %}

      {% if guide.tags contains "beginner" %}
        {% if i != 1 %}{% continue %}{% endif %}
      {% else %}
        {% if i != 2 %}{% continue %}{% endif %}
      {% endif %}
      
      {% assign visible = false %}
      {% for categoryTag in categoryTags %}
        {% if guide.tags contains categoryTag %}
          {% assign visible = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if visible == true %}
        {% assign visibleGuides = visibleGuides | append:guide.id | append:'|' %}
        <li>
          <i class="fa-li fa fa-book"></i>
          {% if guide.tags contains "beginner" %}<span class="label label-success">Beginner</span>{% endif %}
          <a href="{{ guide.id }}">{{ guide.title }}</a>          
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
{% endfor %}


{% for guide in guides %}
  {% if visibleGuides contains guide.id %}{% else %}
    <div style="border-bottom: 1px solid #ccc; margin-bottom: 20px"><h2>Uncategorized</h2></div>
    <ul class="fa-ul" style="margin-bottom: 40px">
    {% for guide in guides %}
      {% if visibleGuides contains guide.id %}
      {% else %}
        <li><i class="fa-li fa fa-book"></i><a href="{{ guide.id }}">{{ guide.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% break %}{% endif %}
{% endfor %}