---
layout: guide
title: Add line numbers to themes
permalink: /guides/add-line-numbers-to-themes/10303
tags: themes
---
<p><strong>Line numbers</strong> can be added to sales invoices and other transaction forms with a custom theme. Below is Liquid code for a modified version of the default (<em>Plain</em>) Manager theme that includes a column with sequential line numbers. You can copy the code and use it to create your own custom theme. You can use similar code to modify other themes available from the <a href="https://www.manager.io/themes">Themes</a> web site.</p>

<pre><code>&lt;table style="padding: 30px"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;td colspan="99"&gt;
                &lt;table style="margin-bottom: 20px"&gt;&lt;tr&gt;
                    &lt;td style="font-weight: bold; font-size: 32px"&gt;{{ title }}&lt;/td&gt;
                    {% if business.logo != null %}&lt;td style="text-align: right"&gt;&lt;img src="{{ business.logo }}" style="max-height: 150px; max-width: 300px"&gt;&lt;/td&gt;{% endif %}
                &lt;/tr&gt;&lt;/table&gt;
                
                &lt;table style="margin-bottom: 20px"&gt;&lt;tr&gt;
                    &lt;td&gt;
                        &lt;div&gt;&lt;b&gt;{{ recipient.name }}&lt;/b&gt; {{ recipient.code }}&lt;/div&gt;
                        &lt;div&gt;{{ recipient.address | newline_to_br }}&lt;/div&gt;
                        &lt;div&gt;{{ recipient.identifier }}&lt;/div&gt;
                    &lt;/td&gt;
                    &lt;td style="border-right-width: 1px; padding-right: 20px; text-align: right"&gt;
                        {% for field in fields %}
                        &lt;div style="font-weight: bold"&gt;{{ field.label }}&lt;/div&gt;
                        &lt;div style="margin-bottom: 10px"&gt;{{ field.text }}&lt;/div&gt;
                        {% endfor %}
                    &lt;/td&gt;
                    &lt;td style="padding-left: 20px; width: 1px; white-space: nowrap"&gt;
                        &lt;div style="font-weight: bold"&gt;{{ business.name }}&lt;/div&gt;
                        &lt;div&gt;{{ business.address | newline_to_br }}&lt;/div&gt;
                        &lt;div&gt;{{ business.identifier }}&lt;/div&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;&lt;/table&gt;

                &lt;div style="font-size: 14px; font-weight: bold; margin-bottom: 20px"&gt;{{ description }}&lt;/div&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td style="font-weight: bold; padding: 5px 10px; text-align: center; border-left-width: 1px; border-bottom-width: 1px; border-top-width: 1px; width: 1px"&gt;#&lt;/td&gt;
            {% for column in table.columns %}            
            &lt;td style="font-weight: bold; padding: 5px 10px; text-align: {{ column.align }}; border-left-width: 1px; border-bottom-width: 1px; border-top-width: 1px{% if forloop.last == true %}; border-right-width: 1px{% endif %}{% if column.nowrap %}; white-space: nowrap; width: 80px{% endif %}"&gt;{{ column.label }}&lt;/td&gt;
            {% endfor %}
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        {% for row in table.rows %}
        &lt;tr&gt;
            &lt;td style="padding: 5px 10px; text-align: center; border-left-width: 1px; width: 1px"&gt;{{ forloop.index0 | plus:1 }}&lt;/td&gt;
            {% for cell in row.cells %}
            &lt;td style="padding: 5px 10px; text-align: {{ table.columns[forloop.index0].align }}; border-left-width: 1px{% if forloop.last == true %}; border-right-width: 1px{% endif %}{% if table.columns[forloop.index0].nowrap %}; white-space: nowrap; width: 80px{% endif %}"&gt;{{ cell.text | newline_to_br }}&lt;/td&gt;
            {% endfor %}
        &lt;/tr&gt;
        {% endfor %}
        &lt;tr&gt;
        &lt;td style="border-bottom-width: 1px; border-left-width: 1px"&gt;&amp;nbsp;&lt;/td&gt;
        {% for column in table.columns %}            
            &lt;td style="border-bottom-width: 1px; border-left-width: 1px{% if forloop.last == true %}; border-right-width: 1px{% endif %}"&gt;&amp;nbsp;&lt;/td&gt;
        {% endfor %}
        &lt;/tr&gt;
        {% for total in table.totals %}
        &lt;tr&gt;
            &lt;td colspan="{{ table.columns | size }}" style="padding: 5px 10px; text-align: right{% if total.emphasis == true %}; font-weight: bold{% endif %}"&gt;{{ total.label }}&lt;/td&gt;
            &lt;td style="border-left-width: 1px; white-space: nowrap; border-right-width: 1px; border-bottom-width: 1px; padding: 5px 10px; text-align: right{% if total.emphasis == true %}; font-weight: bold{% endif %}"&gt;{{ total.text }}&lt;/td&gt;
        &lt;/tr&gt;
        {% endfor %}

        {% for field in custom_fields %}
        &lt;tr&gt;
            &lt;td colspan="99"&gt;
                &lt;div style="font-weight: bold; padding-top: 20px"&gt;{{ field.label }}&lt;/div&gt;
                &lt;div&gt;{{ field.text | newline_to_br }}&lt;/div&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
        {% endfor %}

        {% if emphasis.text != null and emphasis.positive %}
        &lt;tr&gt;&lt;td colspan="99"&gt;&lt;div style="text-align: center; margin-top: 40px"&gt;&lt;span style="color: #006400; border-width: 5px; border-color: #006400; padding: 10px; font-size: 20px"&gt;{{ emphasis.text | upcase }}&lt;/span&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;
        {% endif %}

        {% if emphasis.text != null and emphasis.negative %}
        &lt;tr&gt;&lt;td colspan="99"&gt;&lt;div style="text-align: center; margin-top: 40px"&gt;&lt;span style="color: #FF0000; border-width: 5px; border-color: #FF0000; padding: 10px; font-size: 20px"&gt;{{ emphasis.text | upcase }}&lt;/span&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;
        {% endif %}
            
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>