{% include header.html %}

<h1>Theme #{{ page.title }}</h1>
<div class="thumbnail"><img src="{{ page.screenshot }}"></div>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<h1 style="padding-top: 20px">Markup</h1>
<style>.xml { color: #666 }.xml .hljs-tag { color: #666 }.xml .hljs-tag .hljs-name { color: #666; font-weight: normal }.xml .hljs-tag .hljs-attr { color: #666 }.xml .hljs-tag .hljs-string { color: #999 }</style>
<pre style="padding: 0px"><code class="twig html hljs" style="overflow: auto; white-space: pre; padding: 10px; font-size: 11px">
{{ content | escape }}
</code></pre>

<div style="text-align: center; padding-top: 20px"><a href="/themes" class="btn btn-default" style="font-weight: bold">Back to Themes</a></div>
<script src="/themes/highlight.js" type="text/javascript"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

{% include footer.html %}